body {
    background-color: #f3f4f6;
}

.welcome_container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;

    .arrow_image {
        position: absolute;
        top: 50px;
        right: -10px;
        height: 100px;
        width: 100px;
    }

    .title_container {
        font-size: 30px;
        font-family: Poppins;
        color: rgb(75, 75, 75);
    }

    .lara_picture_container {
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px #ccc;

        .lara_picture {
            border-radius: 10px;
            width: 100%;
        }
    }

    .synthese_container {
        position: absolute;
        bottom: 0;
    }
}
